body {
  font-family: 'Dosis', sans-serif;
}

h4 {
  font-size: 140%;
}

.btn {
  white-space: normal;
}

.black {
  color: black;
}

ul {
  text-align: center;
}

li {
  float: left;
  padding-right: 6%;
  padding-left: 6%;
  display: inline-block;
}

.float{
  position:fixed;
  padding-top: 1%;
  padding-bottom: 1%;
  width:50%;
  bottom:30px;
  right:25%;
}

.flex-container {
  display:flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}

.jumbotron {
  padding: 2%;
}

.productivity {
  background-color: #B2DFDB; 
  float:left;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 130%;
}

.offtask {
  background-color: #eee; 
  float:right;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 130%;
}

#volume:before {
  content: "Alert Volume: ";
  font-weight: bold;
  font-size: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.soundscroll{
  display:block;
  top:0;
  left:0;
  max-height:auto;
  margin:0;
  background: #eee;
  overflow-y:hidden;
  overflow-x:hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-outline-secondary {
  background-color: white;
}

@media screen and (max-width: 500px) {
 .soundscroll{ 
  overflow-x:auto;
}
}

.soundscroll > button{
  display:inline-block;
}

.squares{
  width:100%;
}

.squares > button{
  width:20%;
  height:100px;
  margin:10px;
}

footer {
  text-align: center;
  background-color: white;
  color: white;
  padding: 20px;
  margin-top: 2%;
  margin-bottom: 0;
}